*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

@media(min-width: 834px) {


.header
{
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 20px;

}


.container
{

    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d4d4d4;
    border-radius: 20px;   

}


.container div 
{
    
    color: #8f8e8e;
    font-size: 30px;  

}


.container input
{

    width: 145px;
    height: 30px;
    padding: 5px;
    color: #8f8e8e;
    background-color: #d4d4d4;
    padding-left: 15px;    
    border-radius: 20px;
    font-size: 30px;
    border: none;
    outline: none;  

}


::placeholder
{
    color: #8f8e8e;

}


.section-title
{
    
    color: #8f8e8e;
    padding: 10px;
    width: 85%;
    margin-left: 7.5%;
    
}


.section-child
{
    
    font-size: 25px;
    display: flex;
    justify-content: center;  
    color: #feb06a;
    text-align: center;
    width: 30%;
    margin: auto ;
    border-radius: 20px;

}


.container-heading

{
    font-size: 20px;
    width: 50%;
    margin: auto;
}

.container-electricity
{
    
    width: 50%;
    display: flex;
    padding: 0px, 5px, 5px, 5px;
    margin: auto;
    justify-content: space-around;

    
    
}


.left
{
   
    width: 45%;
    color: #8f8e8e;
    font-size: 15px;
    background-color: #d4d4d4;
    border-radius: 20px;
    padding: 10px;
    
    
    
}

.left input
{
    
    padding:0 10px;
    background-color: #d4d4d4;
    font-size: 15px;
    border: none;
    outline: none;
    color: #8f8e8e;
    border-radius: 20px;
    width: 100%;
}

.left div
{

    padding:0 10px;
}


.right 
{
    
    width:45%;    
    display: flex;
    flex-direction: column;
    background-color: #d4d4d4;
    border-radius: 20px;  
    padding: 10px;
    
}


.right input
{

    padding: 0 10px;
    background-color: #d4d4d4;
    font-size: 15px;
    border: none;
    outline: none;
    color: #8f8e8e;
    border-radius: 20px;

}


.container-heading
{
    
    background-color: none;
    display: flex;
    justify-content: space-around;
    
}


#value{
    text-align: right;
    
}


.result
{

    width: 47%;
    margin: auto; 


}


.result-child
{
   
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #feb06a;
    border-radius: 15px;
    padding: 0 20px;

    
}


.result-child input
{
    background-color: #feb06a;
    width: 45%;
    color: #8f8e8e;
    font-size: 30px;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 15px;
    
    
}

#section-water
{
    color: #36d6e7;
}

#water-result
{
    background-color: #36d6e7;
}

.final-amount
{
    margin-top: 25px;
    font-size: 15px;
}

.left-amount
{
    margin-top: 10px;;
}

.container input[type="number"]::-webkit-inner-spin-button,
.container input[type="number"]::-webkit-outer-spin-buttton
{
    -webkit-appearance: none;
    margin: 0;
}

.container input[type="number"]
{
    -moz-appearance: textfield;
}

}


.submit
{
    width:30%;
    height: 40px;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30%;
    border-radius: 10px;
    
    


}

.button1
{
    color: #8f8e8e;
    background-color: #d4d4d4;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    
}

.button2
{
    color: #8f8e8e;
    background-color: #d4d4d4;
    font-size: 20px;
    border: none;
    margin-left: 100px;
    border-radius: 10px;
    
}
    


@media(max-width: 833px) {
    .header
{
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 50px;

}


.container
{

    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d4d4d4;
    border-radius: 20px;  
    

}


.container div 
{
    
    color: #8f8e8e;
    font-size: 40px;  

}


.container input
{

    width: 125px;
    height: 40px;
    padding: 5px;
    color: #8f8e8e;
    background-color: #d4d4d4;
    background-color: green;
    padding-left: 9px;    
    border-radius: 20px;
    font-size: 40px;
    border: none;
    outline: none;  

}


::placeholder
{
    color: #8f8e8e;

}


.section-title
{
    
    color: #8f8e8e;
    padding: 10px;
    width: 85%;
    margin: auto;
    
}


.section-child
{
    
    font-size: 30px;
    display: flex;
    justify-content: center;  
    color: #feb06a;
    text-align: center;
    width: 30%;
    margin: auto ;
    border-radius: 20px;

}


.container-heading

{
    font-size: 25px;
    width: 100%;
    margin: auto;
}

.container-electricity
{
    
    width: 100%;
    display: flex;
    padding: 0px, 5px, 5px, 5px;
    margin: auto;
    justify-content: space-around;

    
    
}


.left
{
   
    width: 55%;
    color: #8f8e8e;
    font-size: 20px;
    background-color: #d4d4d4;
    border-radius: 20px;
    padding: 10px;
    
    
    
}

.left input
{
    
    padding:0 10px;
    background-color: #d4d4d4;
    font-size: 20px;
    border: none;
    outline: none;
    color: #8f8e8e;
    border-radius: 20px;
    width: 100%;
}

.left div
{

    padding:0 10px;
}


.right 
{
    
    width:55%;    
    display: flex;
    flex-direction: column;
    background-color: #d4d4d4;
    border-radius: 20px;  
    padding: 10px;
    
}


.right input
{

    padding: 0 10px;
    background-color: #d4d4d4;
    font-size: 20px;
    border: none;
    outline: none;
    color: #8f8e8e;
    border-radius: 20px;

}


.container-heading
{
    
    background-color: none;
    display: flex;
    justify-content: space-around;
    
}


#value{
    text-align: right;
    
}


.result
{

    width: 100%;
    margin: auto; 


}


.result-child
{
   
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #feb06a;
    border-radius: 15px;
    padding: 0 20px;

    
}


.result-child input
{
    background-color: #feb06a;
    width: 45%;
    color: #8f8e8e;
    font-size: 30px;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 15px;
    
    
}

#section-water
{
    color: #36d6e7;
}

#water-result
{
    background-color: #36d6e7;
}

.final-amount
{
    margin-top: 25px;
    font-size: 15px;
}

.left-amount
{
    margin-top: 10px;;
}

.container input[type="number"]::-webkit-inner-spin-button,
.container input[type="number"]::-webkit-outer-spin-buttton
{
    -webkit-appearance: none;
    margin: 0;
}

.container input[type="number"]
{
    -moz-appearance: textfield;
}
        
.submit
{
    width:30%;
    height: 40px;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30%;
    border-radius: 10px;
    
    


}

.button1
{
    color: #8f8e8e;
    background-color: #d4d4d4;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    
}

.button2
{
    color: #8f8e8e;
    background-color: #d4d4d4;
    font-size: 20px;
    border: none;
    margin-left: 100px;
    border-radius: 10px;
    
}
    


}  