*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.header
{
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 100px;

}


.container
{

    width: 85%;
    margin-left: 7.5%;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d4d4d4;
    border-radius: 20px;   

}


.container div 
{
    
    color: #8f8e8e;
    font-size: 60px;  

}


.container input
{

    width: 220px;
    height: 60px;
    padding: 5px;
    color: #8f8e8e;
    background-color: #d4d4d4;
    border-radius: 20px;
    font-size: 60px;
    border: none;
    outline: none;  

}


::placeholder
{
    color: #8f8e8e;

}


.section-title
{
    
    color: #8f8e8e;
    padding: 10px;
    width: 85%;
    margin-left: 7.5%;
    
}


.section-child
{
    
    font-size: 50px;
    display: flex;
    justify-content: center;  
    color: #feb06a;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    border-radius: 20px;

}


.container-heading

{
    font-size: 40px;
    width: 75%;
    margin-left: 12.5%;
}


.container-electricity
{
    
    width: 80%;
    display: flex;
    padding: 5px;
    margin-left: 10%;
    justify-content: space-around;

    
    
}


.left
{
   
    width: 45%;
    color: #8f8e8e;
    font-size: 30px;
    background-color: #d4d4d4;
    border-radius: 20px;
    padding: 10px;
    
}

.left input
{
    
    padding:0 10px;
    background-color: #d4d4d4;
    font-size: 30px;
    border: none;
    outline: none;
    color: #8f8e8e;
    border-radius: 20px;
    width: 100%;
}

.left div
{

    padding:0 10px;
}


.right 
{
    
    width:45%;    
    display: flex;
    flex-direction: column;
    background-color: #d4d4d4;
    border-radius: 20px;  
    padding: 10px;
   
}


.right input
{

    padding: 0 10px;
    background-color: #d4d4d4;
    font-size: 30px;
    border: none;
    outline: none;
    color: #8f8e8e;
    border-radius: 20px;

}


.container-heading
{
    
    background-color: none;
    display: flex;
    justify-content: space-around;
    
}


#value{
    text-align: right;
    
}


.result
{

    width: 75%;
    margin-left: 12.5%;


}


.result-child
{
   
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #feb06a;
    border-radius: 15px;
    padding: 0 20px;

    
}


.result-child input
{
    padding: 0 20px;
    margin-right: 17%;
    background-color: #feb06a;
    width: 30%;
    color: #8f8e8e;
    font-size: 30px;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 15px;
    
    
}

#section-water
{
    color: #36d6e7;
}

#water-result
{
    background-color: #36d6e7;
}

.final-amount
{
    margin-top: 50px;
    font-size: 30px;
}

.left-amount
{
    margin-top: 10px;;
}




@media screen and (min-width: 768px) {
    /* Your styles for desktop view here */

    .container
{

    width: 50%;
    margin-left: 25%;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d4d4d4;
    border-radius: 20px; 
    font-size: 30px;
    
  

}


.section-title
{
    
    color: #8f8e8e;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    
}


  }


